@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html, body{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
body
{
	margin: 0;
	padding: 0;
	background: #000;
	overflow-x: hidden;
}
@font-face {
    font-family: 'Dusha V5';
    src: url('fonts/Dusha/DushaV5-Regular.oet') format('embedded-opentype'), 
    	 url('fonts/Dusha/DushaV5-Regular.ttf') format('truetype'),
    	 url('fonts/Dusha/DushaV5-Regular.woff2') format('woff2'),
         url('fonts/Dusha/DushaV5-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p
{
  text-transform: uppercase;
  line-height: 1.5;
}
#particles
{
  height: 100%;
  width: 100%;
}
#particles-2
{
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../img/contacts/contact-bg-1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
#skills, #design
{
  padding: 6.25em;
}
.ldBar-label
{
  color: #e2e2e2;
  font-family: 'Dusha V5';
  font-size: 2.4rem;
}
.clearfix
{
  content: "";
  clear: both;
  display: table;
}
.container
{
  width: 100%;
  padding: 0 0;
}
.banner
{
  height: 100vh;
  font-weight: 100vw;
  background: linear-gradient(to top, #085078, #85d8ce);
}
.about, .skills-2
{
  position: relative;
  padding: 6.25em 3.125em;
  background: #000;
  z-index: 2;
}
.skills, .portfolio
{
  padding: 6.25em 3.125em;
  background: #ecf0f1;
}
.services
{
  padding: 6.25em 3.125em;
  background: linear-gradient(45deg, #00cec9, #55efc4);
}
.about .content, .skills-2 .content, #particles-2 .content
{
  width: 100%;
  text-align: center;
  color: #fff;
}
.skills .content, .services .content, .portfolio .content
{
  width: 100%;
  text-align: center;
  color: #000;
}
#particles-2 .content
{
  position: absolute;
  top: 6.25em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.contacts .content
{
  position: relative;
  top: 150px;
  padding: 3em 3.125em;
}
#particles-2 .content .title, #particles-2 .content .pre-title
{
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  mix-blend-mode: overlay;
}
.services .content .title, .services .content .pre-title
{
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
.pre-title
{
  font-size: 1.4rem;
  margin-bottom: 0;
}
.title
{
  font-family: 'Dusha V5';
  margin-top: 0;
}
.title-black
{
  color: #55efc4;
}
.title-white
{
  color: #000;
}
.pre-title-black
{
  opacity: .5;
}
.pre-title-white
{
  color: #000;
  opacity: .7;
}
.skill-title
{
  font-size: 1.7rem;
  color: #000;
  opacity: .5;
}
.skill-2-title
{
  font-size: 1.7rem;
  color: #fff;
  opacity: .5;
}
.pulse:hover
{
  animation: pulse_animation 3s linear infinite;  
}
.nav
{
  display: block;
  position: fixed;
  left: -100%;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  border-top: 1px solid rgba(255, 255, 255, .2);
  transition: .5s;
  font-family: 'Dusha V5';
  font-size: 2.4rem;
  z-index: 3;
}
.nav.active
{
  left: 0;
}
.nav ul
{
  padding: 0;
  display: block;
  list-style: none;
  justify-content: center;
}
.nav ul li
{
  padding: 0.49em 0;
  margin: 0;
  text-align: center;
}
.nav ul li a
{
  color: #fff;
  padding: 0.625em;
  margin: 2em;
  text-decoration: none;
  transition: .5s;
}
.links.active
{
  color: #fff;
  background: #1abc9c;
  box-shadow: 0 0 25px #1abc9c;
  text-shadow: 0 0 10px #fff;
  border-radius: 5px;
}
.nav ul li a:before
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #3cd3ad;
  transition: .5s;
  transform: scale(.9);
}
.nav ul li a:hover:before
{
  transform: scale(1.1);
  box-shadow: 0 0 25px #1abc9c;
}
.nav ul li a:hover
{
  color: #fff;
  background: #1abc9c;
  box-shadow: 0 0 25px #1abc9c;
  text-shadow: 0 0 10px #fff;
  border-radius: 5px;
}
.menu
{
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4em 0;
  z-index: 3;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  background: rgba(0, 0, 0, .8);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  font-family: 'Dusha V5';
  font-size: 3.2rem;
  text-align: center;
  cursor: pointer;
  z-index: 5;
}
.menu .icon
{
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.hamburger
{
  width: 50px;
  height: 6px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: .5s;
}
.hamburger:before, .hamburger:after
{
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: .5s;
}
.hamburger:before
{
  top: -16px;
  left: 0;
}
.hamburger:after
{
  top: 16px;
  left: 0;
}
.icon.active .hamburger
{
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.icon.active .hamburger:before
{
  top: 0;
  transform: rotate(45deg)
}
.icon.active .hamburger:after
{
  top: 0;
  transform: rotate(135deg)
}
.links.minus
{
  color: rgba(255, 255, 255, 0.8);
}
.banner .content
{
  position: absolute;
  padding: 0;
  margin: 0;
  top: 25vh;
  width: 100%;
  text-align: center;
}
.banner .content .title
{
  font-family: 'Dusha V5';
  font-size: 7rem;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  mix-blend-mode: overlay;
  margin-bottom: 0;
}
sup
{
  font-size: 0.5em;
}
.banner .content h3
{
  color: #fff;
  font-size: 2rem;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  mix-blend-mode: overlay;
  margin-top: 0;
  margin-bottom: 2em; 
}
.social-nets-wrapper
{
  margin-top: 1.875em;
}
ul.social
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
ul.social li
{
  list-style: none;
  margin: 0 2em;
}
ul.social li a
{
  position: relative;
  display: block;
  width: 2em;
  height: 2em;
  text-decoration: none;
  text-align: center;
  line-height: 2em;
  background: none;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  font-size: 3.0rem;
  color: rgba(255, 255, 255, .5);
  transition: .5s;
}
ul.social li a:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: none;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}
ul.social li a:hover:before
{
  background: #3cd3ad;
  transform: scale(1.1);
  box-shadow: 0 0 25px #1abc9c;
}
ul.social li a:hover
{
  color: #fff;
  background: #1abc9c;
  border: 1px solid #1abc9c;
  box-shadow: 0 0 25px #1abc9c;
  text-shadow: 0 0 10px #fff;
}
.about .content .intro
{
  width: 90%;
  margin: auto;
  font-size: 1.3rem;
  opacity: .5;
}
.about .details
{
  margin-top: 3.12em;
}
.about .details p
{
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: .5;
}
[class*="span"]
{
  position: relative;
}
.about .details .span-4
{
  margin: 0;
}
.about .details .span-4 .details-box
{
  padding: 1.25em;
}
.about .details .span-4 .details-box .icon
{
  float: none;
  margin: auto;
  width: 2.6em;
  height: 2.6em;
  background: #1abc9c;
  border: 1px solid #1abc9c;
  color: rgba(255 ,255, 255, 0.5);
  box-shadow: 0 0 1.56em #1abc9c;
  text-shadow: 0 0 0.625em #fff;
  border-radius: 50%;
  line-height: 2.7em;
  font-size: 4rem;
  transition: .5s;

}
.about .details .span-4 .details-box .icon:before
{
  float: none;
  margin: auto;
  width: 6.25em;
  height: 6.25em;
  border-radius: 50%;
  background: #3cd3ad;
  transition: .5s;
  transform: scale(.9);
  transform: scale(1.1);
  box-shadow: 0 0 1.56em #1abc9c;
  z-index: 0;
}
.about .details .detail-title
{
  font-family: 'Dusha V5';
  font-size: 3.2rem;
  color: #55efc4;
}
.skills .content .details, .skills-2 .content .details
{
  width: 100%;
}
.skills .content .details .span-2
{
  margin: 0;
}
.skills .content .details .span-2 .details-box
{
  padding: 1.25em;
}
.skills-2 .content .details .span-6 .details-box img
{
    width: 80%;
}
.skills-2 .content .details .span-6 p
{
  text-align: left;
}
.portfolio .content .details .selector
{
  width: 90%;
  margin: auto;
}
.services .content .details ul
{
  margin: 0;
  padding: 0;
  display: inline-block;
  justify-content: center; 
}
.services .content .details ul li
{
  list-style: none;
  margin: 1em 5em;
}
.selectors.serv-active
{
  display: block;
  color: #000;
  border: 1px solid #000;
  text-shadow: 0 0 0.625em #fff;
}
.services .content .details ul li .selectors
{
  position: relative;
  display: block;
  background: none;
  height: 2em;
  width: 2em;
  line-height: 2em;
  color: #fff;
  font-size: 3rem;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: .5s;
  cursor: pointer;
  z-index: 1;
  
}
.services .content .details ul li .selectors:hover
{
  color: #000;
  border: 1px solid #000;
  text-shadow: 0 0 0.625em #fff;
}
.fade
{
  width: 100%;
  padding-top: 3em;
  overflow: hidden;
  display: none;
}
.fade-box
{
  width: 90%;
  margin: auto;
}
.fade-box .box, .fade-box .box-no-bg
{
  float: left;
  width: 100%;
}
.fade-box .box
{
  padding: 2em 1em;
}
.fade-box .box p
{
  font-size: 1.6rem;
  color: #fff;
  text-align: left;
}
.heading
{
  font-family: 'Dusha V5';
  font-size: 2.7rem;
  color: #fff;
  margin: 0;
  padding-bottom: 1em; 
  text-align: left;
}
.fade-box .box-no-bg img
{
  width: 90%;
  margin: auto;
}
.portfolio .content .details .selector a
{
  position: relative;
  margin: .5em;
  color: #16a085;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
}
.portfolio .content .details .selector a:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #16a085;
  border-left: 2px solid #16a085;
  transform-origin: left;
  transition: .5s;
  box-sizing: border-box;
}
.portfolio .content .details .selector a:hover:before
{
  width: 25px;
  height: 25px;
  transform: rotate(360deg);
}
.portfolio .content .details .selector a:after
{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #16a085;
  border-right: 2px solid #16a085;
  transform-origin: right;
  transition: .5s;
  box-sizing: border-box;
}
.portfolio .content .details .selector a:hover:after
{
  width: 25px;
  height: 25px;
  transform: rotate(-360deg);
}
.portfolio .content .details .selector .btn
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 3.125em;
    width: 9.375em;
    line-height: 3.125em;
}
.column
{
  float: left;
  display: none;
  width: 100%;
  margin: auto;
}
.column-content img
{
  width: 100%;
}
.show
{
  display: block;
  animation: fade 1s ease;
}
.btn.port-active
{
  /* no styles given */
}
.card
{
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}
.card .front
{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: 0.5s;
}
.card:hover .front
{
  transform: rotateY(-180deg);
}
.card .back
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: 0.5s;
}
.card:hover .back
{
  transform: rotateX(0deg);
}
.card .back .details
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1.25em;
  box-sizing: border-box;
}
.card .back .details h3
{
  display: none;
  font-family: 'Dusha V5';
  font-size: 3.2rem;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  margin: 0;
}
.card .back .details span
{
  display: none;
  font-family: 'Roboto';
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, .5);
}
.card .back .details .icons
{
  margin-top: 2em;
}
.card .back .details .icons a
{
  position: relative;
  display: inline-block;
  width: 3.2em;
  height: 3.2em;
  line-height: 3.2em;
  font-size: 3.2rem;
  border-radius: 50%;
  background: #000;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.card .back .details .icons .des:before,
.card .back .details .icons .sys:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  background: #1abc9c;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}
.card .back .details .icons .vec:before,
.card .back .details .icons .log:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  background: #1abc9c;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}
.card .back .details .icons a:hover:before
{
  transform: scale(1.1);
  box-shadow: 0 0 1.5em #1abc9c;
}
.card .back .details .icons a:hover
{
  color: #fff;
  background: #1abc9c;
  border: 1px solid #1abc9c;
  box-shadow: 0 0 1.5em #1abc9c;
  text-shadow: 0 0 10px #fff;
}
.contacts .content .details 
{
  width: 90%;
  margin: auto;
}
.contacts .content .details .span-6 .details-box .contact-title
{
  font-family: 'Dusha V5';
  font-size: 2.4rem;
  color: #fff;
}
.wrap-contact
{
  overflow: hidden;
}
.wrap-contact p
{
  margin: 0; 
  color: #fff;
  text-align: left;
}
.wrap-contact .phone p
{
  padding-top: 1em;
  padding-bottom: 0;
}
.home, .phone, .mail
{
  font-size: 1.5rem;
  line-height: 1.25em;
  position: relative;
  padding: 0.125em 0 0 4em;
  margin: 1.68em 0 0 0;
  min-height: 55px;
}
.home:before
{
    content: '\e069';
}
.phone:before
{
    content: '\e010';
}
.mail:before
{
    content: '\e086';
}
.home:before, .phone:before, .mail:before
{
    font-size: 1.8rem;
    font-family: Simple-Line-Icons;
    color: #fff;
    width: 2.8125em;
    height: 2.8125em;
    line-height: 2.8125em;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #fff;
    border-radius: 100%;
}
.phone, .mail
{
    padding-top: 1em;
}
.contact-box
{
    box-sizing: border-box;
    margin-bottom: 2.5em !important;
}
.contact-input
{
    position: relative;
    width: 100%;
    height: 3.125em;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.7rem;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    color: #fff;
    transition: .5s;
}
.contact-text
{
    position: absolute;
    line-height: 3.125em;
    font-size: 1.4rem;
    transition: .5s;
    color: #fff;
}
.focus .contact-text
{
    transform: translateY(-10px);
    font-size: 1.3rem;
    opacity: 1;
    color: rgba(255, 255, 255, 0);
}
.focus .contact-text ~ .contact-input
{
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
textarea
{
    height: 5em !important;
    resize: none;
}
.contact-button
{
    float: left;
    background: none;
    color: #fff;
    width: 100%;
    height: 3.125em;
    border-radius: 50px;
    border: 1px solid #fff;
    font-size: 1.7rem;
    box-sizing: border-box;
    cursor: pointer;
    transition: .5s;
}
.contact-button:hover
{
    background: rgba(26, 188, 156, 1);
    border: 1px solid #1abc9c;
    color: #fff;
    text-shadow: 0 0 5px #fff;
    box-shadow: 0 0 20px #1abc9c, inset 0 0 20px #1abc9c;
}
footer
{
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 15em;
  padding: 6.25em 0; 
  background: #000;
  color: rgba(255, 255, 255, .7);
}
.footer
{
  width: 100%;
  text-align: center;
}
.img-responsive
{
  width: 150px;
  height: 150px;
}
.footer .title
{
  margin: 0;
}
.footer p
{
  color: rgba(255, 255, 255, .5);
  margin-bottom: 1em;
  padding: 0 2em;
  font-size: 1rem;
}

.fish
{
  position: absolute;
  display: none;
  z-index: 0;
}
.fish1, .fish21
{
  top: 5%;
  height: 2em;
  animation: animate1 30s linear infinite;
}
.fish2, .fish22
{
  top: 15%;
  height: 2em;
  animation: animate1 25s linear infinite;
}
.fish3, .fish23
{
  top: 25%;
  height: 3em;
  animation: animate1 20s linear infinite;
}
.fish4, .fish24
{
  top: 35%;
  height: 4em;
  animation: animate2 15s linear infinite;
}
.fish5, .fish25
{
  top: 45%;
  height: 4em;
  animation: animate1 10s linear infinite;
}
.fish6, .fish26
{
  top: 55%;
  height: 7em;
  animation: animate2 9s linear infinite;
}
.fish7, .fish27
{
  top: 65%;
  height: 5em;
  animation: animate1 30s linear infinite;
}
.fish8, .fish28
{
  top: 75%;
  height: 5em;
  animation: animate2 25s linear infinite;
}
.fish9, .fish29
{
  top: 85%;
  height: 5em;
  animation: animate1 20s linear infinite;
}
.fish10, .fish30
{
  top: 95%;
  height: 5em;
  animation: animate1 15s linear infinite;
}


.fish11
{
  top: 10%;
  height: 2em;
  animation: animate1 8s linear infinite;
}
.fish12
{
  top: 20%;
  height: 2em;
  animation: animate1 10s linear infinite;
}
.fish13
{
  top: 30%;
  height: 3em;
  animation: animate1 15s linear infinite;
}
.fish14
{
  top: 40%;
  height: 4em;
  animation: animate2 20s linear infinite;
}
.fish15
{
  top: 50%;
  height: 4em;
  animation: animate1 25s linear infinite;
}
.fish16
{
  top: 60%;
  height: 7em;
  animation: animate2 30s linear infinite;
}
.fish17
{
  top: 70%;
  height: 5em;
  animation: animate1 8s linear infinite;
}
.fish18
{
  top: 80%;
  height: 5em;
  animation: animate2 10s linear infinite;
}
.fish19
{
  top: 90%;
  height: 5em;
  animation: animate1 15s linear infinite;
}
.fish20
{
  top: 95%;
  height: 5em;
  animation: animate1 20s linear infinite;
}


.school-of-fish1, .school-of-fish7
{
  top: 50%;
  height: 4em;
  animation: animate1 50s linear infinite;
  opacity: .5;
}
.school-of-fish2, .school-of-fish8
{
  top: 70%;
  height: 6em;
  animation: animate2 45s linear infinite;
  opacity: .5;
}
.school-of-fish3, .school-of-fish9
{
  top: 5%;
  height: 5em;
  animation: animate1 60s linear infinite;
  opacity: .5;
}
.school-of-fish4, .school-of-fish10
{
  top: 20%;
  height: 5em;
  animation: animate1 90s linear infinite;
  opacity: .5;
}
.school-of-fish5, .school-of-fish11
{
  top: 78%;
  height: 5em;
  animation: animate2 25s linear infinite;
  opacity: .5;
}
.school-of-fish6, .school-of-fish12
{
  top: 74%;
  height: 7em;
  animation: animate1 20s linear infinite;
  opacity: .5;
}

.school-of-fish13
{
  top: 50%;
  height: 4em;
  animation: animate1 15s linear infinite;
  opacity: .5;
}
.school-of-fish14
{
  top: 70%;
  height: 6em;
  animation: animate2 20s linear infinite;
  opacity: .5;
}
.school-of-fish15
{
  top: 30%;
  height: 5em;
  animation: animate1 30s linear infinite;
  opacity: .5;
}
.school-of-fish16
{
  top: 70%;
  height: 5em;
  animation: animate1 35s linear infinite;
  opacity: .5;
}
.school-of-fish17
{
  top: 78%;
  height: 5em;
  animation: animate2 40s linear infinite;
  opacity: .5;
}
.school-of-fish18
{
  top: 74%;
  height: 7em;
  animation: animate1 15s linear infinite;
  opacity: .5;
}




@keyframes animate1
{
  0%
  {
    transform: translateY(-50px);
    right: -25%;
  }
  25%
  {
    transform: translateY(0px);
  }
  50%
  {
    transform: translateY(50px);
  }
  75%
  {
    transform: translateY(0px);
  }
  100%
  {
    transform: translateY(-50px);
    right: 150%;
  }
}
@keyframes animate2
{
  0%
  {
    transform: translateY(-50px);
    left: -25%;
  }
  25%
  {
    transform: translateY(0px);
  }
  50%
  {
    transform: translateY(50px);
  }
  75%
  {
    transform: translateY(0px);
  }
  100%
  {
    transform: translateY(-50px);
    left: 150%;
  }
}
@keyframes pulse_animation 
{
  0%
  {
    box-shadow: 0 0 0 0 rgba(26, 188, 156, .7), 0 0 0 0 rgba(26, 188, 156, .7);   
  }
  40%
  {
    box-shadow: 0 0 0 50px rgba(26, 188, 156, 0), 0 0 0 0 rgba(26, 188, 156, .7);   
  }
  80%
  {
    box-shadow: 0 0 0 50px rgba(26, 188, 156, 0), 0 0 0 30px rgba(26, 188, 156, 0);   
  }
  100%
  {
    box-shadow: 0 0 0 0 rgba(26, 188, 156, 0), 0 0 0 30px rgba(26, 188, 156, 0);    
  }
}
@keyframes fade
{
  0%, 20%, 40%
  {
    opacity: 0;
  }
  {
    opacity: 1;
  }
}